<?php

/*
    Configuration for ETMP

    Settings using FileSystem Adapter
    ---
    'storageAdapter'      => 'FileSystem',
    'storageDirectory'    => 'storage',
    ---

    Settings using MySQL Adapter
    ---
    'storageAdapter'      => 'MySQL',
    'storageHost'         => 'localhost',
    'storageDatabase'     => 'Database Name',
    'storageUsername'     => 'MySQL Username',
    'storagePassword'     => 'MySQL Password',
    ---
*/

return [
    'fetchAdressUrl'      => 'http://ipecho.net/plain',
    'noIpUsername'        => '',
    'noIpPassword'        => '',
    'noIpHostname'        => '',
    'storageAdapter'      => 'FileSystem',
    'storageDirectory'    => 'storage',
    'logPreserveDuration' => 7,
];