<?php

return [
    'fetchAdressUrl'      => 'http://ipecho.net/plain',
    'noIpUsername'        => '',
    'noIpPassword'        => '',
    'noIpHostname'        => '',
    'storageAdapter'      => 'FileSystem',
    'storageDirectory'    => 'storage',
    'logPreserveDuration' => 7,
];